{% load i18n %}

<h3>
    {% trans "Your Workspaces:" %}
    <a href={% url 'workspace_create_view' %} title="{% trans "Create new Workspace" %}">
        {% trans "New" %}
    </a>
</h3>

<ul>
    {% for workspace in user_workspaces %}

        {% include 'gypsy_task_force/workspace/partials/workspace_list_item.html' with workspace=workspace %}

    {% empty %}

        <li>{% trans "No Workspaces found, create a new one." %}</li>

    {% endfor %}
</ul>
