{% load i18n %}

{% with task.metadata as meta %}
    {# CRUD Interface #}
    <span>
        <a href="{{ task.get_absolute_url }}">{% trans "View" %}</a> |
        <a href="{{ task.get_absolute_update_url }}">{% trans "Edit" %}</a> |
        <a href="{{ task.get_absolute_delete_url }}">{% trans "Delete" %}</a>
    </span>
    {# Progress #}
    <progress value="{{ task.completion }}" max="100"></progress>
    {# Link to Read View #}
    <a href="{{ task.get_absolute_url }}" title="{% trans "Go to Task" %}">
        {{ task.title }}
    </a>
    {# Metadata #}
    <span>
        ( {{ task.get_kind_display }} | {{ task.get_status_display }} | {{ task.get_priority_display }} )
    </span>
{% endwith %}
