{% load i18n %}

<li>
    {% with workspace.metadata as meta %}
        {# CRUD Interface #}
        <span>
            <a href="{{ workspace.get_absolute_url }}">{% trans "View" %}</a> |
            <a href="{{ workspace.get_absolute_update_url }}">{% trans "Edit" %}</a> |
            <a href="{{ workspace.get_absolute_delete_url }}">{% trans "Delete" %}</a>
        </span>
        {# Progress #}
        <progress value="{{ meta.completion__avg }}" max="100"></progress>
        {# Link to Read View #}
        <a href="{{ workspace.get_absolute_url }}" title="{% trans "Go to Workspace" %}">
            {{ workspace.title }}
        </a>
        {# Metadata #}
        <span>
            {{ meta.id__count }} {% trans "Tasks" %} |
            {{ meta.workload__sum|default_if_none:"0" }} {% trans "hours" %}
        </span>
    {% endwith %}
</li>
