{% load i18n %}
{% load mptt_tags %}

<h2>Current Workspace: {{ workspace.title }}</h2>
<br>
Owner: {{ workspace.user }}
<br>
Access-Level: {{ workspace.get_access_display }}
<br>
<a href="{{ workspace.get_absolute_update_url }}">Update Workspace</a> | <a href="{{ workspace.get_absolute_delete_url }}">Delete Workspace</a>

<hr>

<h3>
    {% trans "Tasks:" %}
    <a href={% url 'task_create_view' workspace_slug=workspace.slug%} title="{% trans "Create new Task" %}">
        {% trans "New" %}
    </a>
</h3>

<ul>

    {% if workspace.tasks.count == 0 %}

        <li>{% trans "No Tasks found, create a new one." %}</li>

    {% else %}

        {% recursetree workspace.tasks.all %}
            <li>
                {% include 'gypsy_task_force/task/partials/task_list_item.html' with task=node %}

                {% if not node.is_leaf_node %}
                    <ul class="children">

                        {{ children }}

                    </ul>

                {% endif %}
            </li>
        {% endrecursetree %}

    {% endif %}

</ul>


<hr>

<h3>
    {% trans "Your Workspaces:" %}
    <a href={% url 'workspace_create_view' %} title="{% trans "Create new Workspace" %}">
        {% trans "New" %}
    </a>
</h3>

<ul>

    {% for workspace in other_workspaces %}

        {% include 'gypsy_task_force/workspace/partials/workspace_list_item.html' with workspace=workspace %}

    {% empty %}

        <li>{% trans "No Workspaces found, create a new one." %}</li>

    {% endfor %}
</ul>
