<h2>Current Task: {{ task.title }}</h2>
<br>
<a href="{{ task.workspace.get_absolute_url }}">Workspace: {{ task.workspace }}</a>
<br>
Completion Condition: {{ task.complete_if }}
<br>
<ul>
<li>Kind: {{ task.get_kind_display }}</li>
<li>Status: {{ task.get_status_display }}</li>
<li>Priority: {{ task.get_priority_display }}</li>
<li>Workload: {{ task.workload }} hours</li>
<li>Completion: {{ task.completion }} %</li>
</ul>
<br>

{% if task.schedule == '0' %}

    {{ task.get_schedule_display }}: <br>
    
{% elif task.schedule == '1' %}

    {{ task.get_schedule_display }}: <br>
    Starts: {{ task.start_date }}
    Deadline: {{ task.due_date }}
    
{% elif task.schedule == '2' %}
    blah
    {{ task.get_schedule_display }}: <br>
    Starts: {{ task.start_date }}
    Deadline: {{ task.due_date }}
    
{% endif %}

<br>
<a href="">Update</a> | <a href="">Delete</a>

<hr>