{% load i18n %}

<h3>{% trans "Delete Workspace: " %} {{ object.title }}</h3>

<form action="" method="post">{% csrf_token %}
    <p>{% trans "Are you sure you want to delete Workspace" %}"{{ object.title }}"?</p>
    <input type="submit" value={% trans "Confirm" %} />
</form>
